In [1]:
import os
from pyspark import SparkContext

sc = SparkContext()

RDDs are a distributed collection of immutable JVM objects that allow you to perform calculations very quickly, and they are the backbone of Apache Spark.

## Creating RDDs

In [3]:
# 1st way : parellize collection
data = sc.parallelize(
        [ ('Amber', 22), ('Alfred',23), ('Skye',4) , ('Alber',12),
          ('Amber',9)] )

In [14]:
# 2nd way
# The last parameters in sc.textFile( ..., n ) sepeficies 
# the number of partitions the dataset is divived into.
data_from_file = sc.textFile('data/VS14MORT.DUSMCPUB', 4)

## Schema

RDDs are schema-less data structures. </br>

Thus, parellezing a datset, such as in the following code snippet, is perfectly fine with Spark when using RDDs;</br>

Once you .collect() the dataset(that is, run an action to bring it back to the driver) you can access the data in the object as you would normally do in Python:

In [7]:
data_heterogeneous = sc.parallelize([
    {'Ferrari' : 'fast'},
    {'Porsche' : 100000},
    ['Spain','visitied', 4504]
]).collect()

In [8]:
data_heterogeneous

[{'Ferrari': 'fast'}, {'Porsche': 100000}, ['Spain', 'visitied', 4504]]

In [10]:
data_heterogeneous[1]['Porsche']

100000

## Reading from files

In [17]:
data_from_file.take(1)

['                   1                                          2101  M1087 432311  4M4                2014U7CN                                    I64 238 070   24 0111I64                                                                                                                                                                           01 I64                                                                                                  01  11                                 100 601']

In [32]:
def extractInformation(row):
    import re
    import numpy as np

    selected_indices = [
         2,4,5,6,7,9,10,11,12,13,14,15,16,17,18,
         19,21,22,23,24,25,27,28,29,30,32,33,34,
         36,37,38,39,40,41,42,43,44,45,46,47,48,
         49,50,51,52,53,54,55,56,58,60,61,62,63,
         64,65,66,67,68,69,70,71,72,73,74,75,76,
         77,78,79,81,82,83,84,85,87,89
    ]

    '''
        Input record schema
        schema: n-m (o) -- xxx
            n - position from
            m - position to
            o - number of characters
            xxx - description
        1. 1-19 (19) -- reserved positions
        2. 20 (1) -- resident status
        3. 21-60 (40) -- reserved positions
        4. 61-62 (2) -- education code (1989 revision)
        5. 63 (1) -- education code (2003 revision)
        6. 64 (1) -- education reporting flag
        7. 65-66 (2) -- month of death
        8. 67-68 (2) -- reserved positions
        9. 69 (1) -- sex
        10. 70 (1) -- age: 1-years, 2-months, 4-days, 5-hours, 6-minutes, 9-not stated
        11. 71-73 (3) -- number of units (years, months etc)
        12. 74 (1) -- age substitution flag (if the age reported in positions 70-74 is calculated using dates of birth and death)
        13. 75-76 (2) -- age recoded into 52 categories
        14. 77-78 (2) -- age recoded into 27 categories
        15. 79-80 (2) -- age recoded into 12 categories
        16. 81-82 (2) -- infant age recoded into 22 categories
        17. 83 (1) -- place of death
        18. 84 (1) -- marital status
        19. 85 (1) -- day of the week of death
        20. 86-101 (16) -- reserved positions
        21. 102-105 (4) -- current year
        22. 106 (1) -- injury at work
        23. 107 (1) -- manner of death
        24. 108 (1) -- manner of disposition
        25. 109 (1) -- autopsy
        26. 110-143 (34) -- reserved positions
        27. 144 (1) -- activity code
        28. 145 (1) -- place of injury
        29. 146-149 (4) -- ICD code
        30. 150-152 (3) -- 358 cause recode
        31. 153 (1) -- reserved position
        32. 154-156 (3) -- 113 cause recode
        33. 157-159 (3) -- 130 infant cause recode
        34. 160-161 (2) -- 39 cause recode
        35. 162 (1) -- reserved position
        36. 163-164 (2) -- number of entity-axis conditions
        37-56. 165-304 (140) -- list of up to 20 conditions
        57. 305-340 (36) -- reserved positions
        58. 341-342 (2) -- number of record axis conditions
        59. 343 (1) -- reserved position
        60-79. 344-443 (100) -- record axis conditions
        80. 444 (1) -- reserve position
        81. 445-446 (2) -- race
        82. 447 (1) -- bridged race flag
        83. 448 (1) -- race imputation flag
        84. 449 (1) -- race recode (3 categories)
        85. 450 (1) -- race recode (5 categories)
        86. 461-483 (33) -- reserved positions
        87. 484-486 (3) -- Hispanic origin
        88. 487 (1) -- reserved
        89. 488 (1) -- Hispanic origin/race recode
     '''

    record_split = re\
        .compile(
            r'([\s]{19})([0-9]{1})([\s]{40})([0-9\s]{2})([0-9\s]{1})([0-9]{1})([0-9]{2})' + 
            r'([\s]{2})([FM]{1})([0-9]{1})([0-9]{3})([0-9\s]{1})([0-9]{2})([0-9]{2})' + 
            r'([0-9]{2})([0-9\s]{2})([0-9]{1})([SMWDU]{1})([0-9]{1})([\s]{16})([0-9]{4})' +
            r'([YNU]{1})([0-9\s]{1})([BCOU]{1})([YNU]{1})([\s]{34})([0-9\s]{1})([0-9\s]{1})' +
            r'([A-Z0-9\s]{4})([0-9]{3})([\s]{1})([0-9\s]{3})([0-9\s]{3})([0-9\s]{2})([\s]{1})' + 
            r'([0-9\s]{2})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([\s]{36})([A-Z0-9\s]{2})([\s]{1})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([\s]{1})([0-9\s]{2})([0-9\s]{1})' + 
            r'([0-9\s]{1})([0-9\s]{1})([0-9\s]{1})([\s]{33})([0-9\s]{3})([0-9\s]{1})([0-9\s]{1})')
    try:
        rs = np.array(record_split.split(row))[selected_indices]
    except:
        rs = np.array(['-99'] * len(selected_indices))
    return rs

Note that we pass only the method signature .map(....) to the method will hand over on element of the RDD to the extractInformation(...) method at a time in each partition.

In [33]:
data_from_file_conv = data_from_file.map(extractInformation)

In [34]:
data_from_file_conv.take(2)

[array(['1', '  ', '2', '1', '01', 'M', '1', '087', ' ', '43', '23', '11',
        '  ', '4', 'M', '4', '2014', 'U', '7', 'C', 'N', ' ', ' ', 'I64 ',
        '238', '070', '   ', '24', '01', '11I64  ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '01',
        'I64  ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'], dtype='<U40'),
 array(['1', '  ', '2', '1', '01', 'M', '1', '058', ' ', '37', '17', '08',
        '  ', '4', 'D', '3', '2014', 'U', '7', 'C', 'N', ' ', ' ', 'I250',
        '214', '062', '   ', '21', '03', '11I250 ', '61I272 ', '62E669 ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '03',
        'I250 ', 'E669 ', 'I272 ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'], dtype='<U40')]

## Transformations

### .map(...)

The method is applied to each element of the RDD: in the case for the data_from_file_conv dataset you can think of this as a transformation of each row.

In [37]:
data_2014 = data_from_file_conv.map(lambda row: int(row[16]))
data_2014.take(10)

[2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, -99]

In [36]:
data_2014_2 = data_from_file_conv.map(lambda row: (row[16], int(row[16])) )
data_2014_2.take(10)

[('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('-99', -99)]

### .filter(...)

The .filter(...) method allows you to select elements of your dataset that fit specified criteria.

In [40]:
data_filtered = data_from_file_conv.filter(lambda row : row[5] == 'F' and row[21] =='0')
data_filtered.count()

6

### .flatMap(...)

The .flatMap(...) method works similarly to .map(...) but returns a flattened results instead of a list.

In [42]:
data_2014_flat = data_from_file_conv.flatMap(lambda row: (row[16], int(row[16] )+10 ))
data_2014_flat.take(10)

['2014', 2024, '2014', 2024, '2014', 2024, '2014', 2024, '2014', 2024]

### .distinct()

The method returns a list of distinct valeus in a specified column.

In [49]:
distinct_gender = data_from_file_conv.map(lambda row : row[5]).distinct().collect()
distinct_gender

['-99', 'M', 'F']

### sample(...)

The .sample() method returns a randomized sample from the dataset.

In [50]:
fraction = 0.1
data_sample = data_from_file_conv.sample(False, fraction, 666)

data_sample.take(1)

[array(['1', '  ', '5', '1', '01', 'F', '1', '082', ' ', '42', '22', '10',
        '  ', '4', 'W', '5', '2014', 'U', '7', 'C', 'N', ' ', ' ', 'I251',
        '215', '063', '   ', '21', '02', '11I350 ', '21I251 ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '02',
        'I251 ', 'I350 ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '28', ' ',
        ' ', '2', '4', '100', '8'], dtype='<U40')]

Let's confirm that we really got 10% of the all the records

In [52]:
print('Original dataset : {0} , samples : {1}'.
      format(data_from_file_conv.count() , data_sample.count() ))

Original dataset : 2631171 , samples : 263161

### .leftOuterJoin(...)


Left outer join, just like the SQL world, joins two RDDs based on the values found in both datasets, and returns records from the left RDD with records from the right one appended where the two RDDs match.

In [58]:
rdd1 = sc.parallelize([('a',1),('b',4),('c',10)])
rdd2 = sc.parallelize([('a',4), ('a',1) ,('b','6'),('d',15)])

rdd3 = rdd1.leftOuterJoin(rdd2)
rdd3.collect()

[('a', (1, 4)), ('a', (1, 1)), ('c', (10, None)), ('b', (4, '6'))]

If we used .join(...) method instead we would have gotten only the values for 'a' and 'b' as these two values intersect between these two RDDs. 
 * Default : Inner join

In [60]:
rdd4 = rdd1.join(rdd2)
rdd4.collect()

[('a', (1, 4)), ('a', (1, 1)), ('b', (4, '6'))]

Another useful method is the .intersection(...) that returns the records that are equal in both RDDs.

In [61]:
rdd5 = rdd1.intersection(rdd2)
rdd5.collect()

[('a', 1)]

### repartition(...)

Repartitioning the dataset changes the number of partitions the dataset is divided into.

In [69]:
rdd1 = rdd1.repartition(4)

len(rdd1.glom().collect())

4

## Actions

### .take(...)

The method returns n top rows from a single data partition.

In [71]:
data_first = data_from_file_conv.take(1)
data_first

[array(['1', '  ', '2', '1', '01', 'M', '1', '087', ' ', '43', '23', '11',
        '  ', '4', 'M', '4', '2014', 'U', '7', 'C', 'N', ' ', ' ', 'I64 ',
        '238', '070', '   ', '24', '01', '11I64  ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '01',
        'I64  ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'], dtype='<U40')]

If you want somewhat randomized records you can use .takeSample(...) instead.

In [72]:
data_take_sampled = data_from_file_conv.takeSample(False, 1, 667)
data_take_sampled

[array(['1', '  ', '3', '1', '04', 'F', '1', '089', ' ', '43', '23', '11',
        '  ', '4', 'M', '7', '2014', 'U', '7', 'B', 'N', ' ', ' ', 'G20 ',
        '188', '051', '   ', '37', '02', '11J969 ', '21G20  ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '02',
        'G20  ', 'J969 ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'], dtype='<U40')]

### reduce(...)

Another action that processes your data, the .reduce(...) method reduces the elements of an RDD using a specified method.

In [77]:
rdd1.collect()

[('c', 10), ('a', 1), ('b', 4)]

In [85]:
1/2/.5/.1/5/.2

10.0

In [78]:
rdd1.map(lambda row : row[1]).reduce(lambda x,y : x+y)

15

If the reducing function is not associative and commutative you will sometimes get wrong results depending how your data is partitioned.

In [92]:
data_reduce = sc.parallelize([1, 2, .5, .1, 5, .2], 1)

data_reduce.glom().collect()

[[1, 2, 0.5, 0.1, 5, 0.2]]

In [86]:
works = data_reduce.reduce(lambda x, y: x / y)
works

10.0

In [93]:
data_reduce = sc.parallelize([1, 2, .5, .1, 5, .2], 3)

data_reduce.glom().collect()

[[1, 2], [0.5, 0.1], [5, 0.2]]

In [94]:
( 1/2 ) / (.5 / .1 ) / (5/ .2)

0.004

In [95]:
data_reduce.reduce(lambda x, y: x / y)

0.004


The .reduceByKey(...) method works in a similar way to the .reduce(...) method but performs a reduction on a key-by-key basis.

In [98]:
data_key = sc.parallelize([('a', 4),('b', 3),('c', 2),('a', 8),('d', 2),('b', 1),('d', 3)],4)

data_key.glom().collect()

[[('a', 4)], [('b', 3), ('c', 2)], [('a', 8), ('d', 2)], [('b', 1), ('d', 3)]]

In [99]:
data_key.reduceByKey(lambda x, y : x+y).collect()

[('b', 4), ('c', 2), ('a', 12), ('d', 5)]

### .count()

The .count() method counts the number of elements in the RDD.

In [100]:
data_reduce.count()

6

It has the same effect as the method below but does not require shifting the data to the driver.

In [109]:
data_key.countByKey().items()

dict_items([('a', 2), ('d', 2), ('b', 2), ('c', 1)])

### .saveAsTextFile(...)

As the name suggests, the .saveAsTextFile() the RDD and saves it to text files: each partition to a separate file.

In [110]:
data_key.saveAsTextFile('data/data_key.txt')

To read it back, you need to parse it back as, as before, all the rows are treated as strings.

In [116]:
def parseInput(row):
    import re
    
    pattern = re.compile(r'\(\'([a-z])\', ([0-9])\)')
    row_split = pattern.split(row)
    
    return row_split[1], int(row_split[2])

In [120]:
data_key_reread = sc.textFile('data/data_key.txt/')\
                    .map(parseInput)

In [121]:
data_key_reread.collect()

[('a', 8), ('d', 2), ('b', 1), ('d', 3), ('b', 3), ('c', 2), ('a', 4)]

### .foreach(...)

A method that applies the same function to each element of the RDD in an iterative way.

In [131]:
def f(x):
    print(x)

In [132]:
data_key.collect()

[('a', 4), ('b', 3), ('c', 2), ('a', 8), ('d', 2), ('b', 1), ('d', 3)]

In [133]:
data_key.foreach(f)