# 1) Load Pyspark

In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark import StorageLevel

from pyspark.sql import Row
from pyspark.sql.functions import *

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, IntegerType

In [4]:
# spark = SparkSession.builder \
#     .master("local") \
#     .appName("Pyspark") \
#     .getOrCreate()

sc = SparkSession.sparkContext
# sc.setLogLevel("INFO")

In [3]:
sc.pa

''

# 2) Read CSV

In [4]:
import os

In [18]:
df = spark.read.csv('Backup/kaggle/dataset/titanic/train.csv',
                    header=True, inferSchema=True)

In [19]:
df.cache()

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [20]:
df.is_cached

True

In [21]:
df.createOrReplaceGlobalTempView('train')

In [22]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [23]:
df.describe("age").show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|               714|
|   mean| 29.69911764705882|
| stddev|14.526497332334035|
|    min|              0.42|
|    max|              80.0|
+-------+------------------+

In [28]:
df.describe('Age','Sex').show()

+-------+------------------+------+
|summary|               Age|   Sex|
+-------+------------------+------+
|  count|               714|   891|
|   mean| 29.69911764705882|  null|
| stddev|14.526497332334035|  null|
|    min|              0.42|female|
|    max|              80.0|  male|
+-------+------------------+------+

In [34]:
%time df.groupby('Survived').count().show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

CPU times: user 2.58 ms, sys: 1.57 ms, total: 4.16 ms
Wall time: 709 ms

In [39]:
df.groupBy('Pclass','Survived').count().orderBy('Pclass','Survived').show()

+------+--------+-----+
|Pclass|Survived|count|
+------+--------+-----+
|     1|       0|   80|
|     1|       1|  136|
|     2|       0|   97|
|     2|       1|   87|
|     3|       0|  372|
|     3|       1|  119|
+------+--------+-----+

In [40]:
df.select( *(
    sum(col(c).isNull().cast('int')).alias(c)
    for c in df.columns
    ) ).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+