## Import Pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark import StorageLevel

from pyspark.sql import Row
from pyspark.sql.functions import *

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, IntegerType

spark = SparkSession.builder \
    .master("local") \
    .appName("Pyspark") \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("INFO")

## Load Dataset

In [15]:
df = spark.read.csv('../titanic/train.csv',header=True )

In [37]:
df_sample = df.sample(withReplacement=False, fraction=0.1,
                      seed=167)

df_sample.show(2)

+-----------+--------+------+--------------------+------+---+-----+-----+-------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch| Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+-------+-------+-----+--------+
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0| 237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|PP 9549|   16.7|   G6|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+-------+-------+-----+--------+
only showing top 2 rows

In [35]:
print('# of Rows in Full Data-set : {0}'.format(df.count()))
print('# of Rows in Sample Data-set : {0}'.format(df_sample.count()))

# of Rows in Full Data-set : 891
# of Rows in Sample Data-set : 78

In [21]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [20]:
df.show(2)

+-----------+--------+------+--------------------+------+---+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+---------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0| PC 17599|71.2833|  C85|       C|
+-----------+--------+------+--------------------+------+---+-----+-----+---------+-------+-----+--------+
only showing top 2 rows